@import url("https://fonts.cdnfonts.com/css/montserrat");

$main-blue: rgb(117, 196, 230);

:root {
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
}

body {
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
}

a {
    text-decoration: none !important;
    color: initial; 
}
