$backgroundImage1: url('../img/744417605_1263212.jpg');
$backgroundImage2: url('../img/poliklinika.jpg');
$backgroundImage3: url('../img/lift.jpg');
$backgroundImage4: url('../img/apteka.jpg');
$backgroundImage5: url('../img/smile.jpg');
$backgroundImage6: url('../img/registratura.jpg');
$backgroundImage7: url('../img/talon.png');
$backgroundImage8: url("../img/doctors/receipt.jpeg");

.trenContainer {
    width: 1000px;
    height: 1000px;
    background-image: url('../img/744417605_1263212.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: #ffffff;
        color: #333333;
        border: 2px solid #333333;
        padding: 20px 40px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
    }

    &.poliklinika {
        background: $backgroundImage2;
        background-size: cover;
    }

    ;

    &.lift {
        background: $backgroundImage3;
        background-size: cover;
    }

    ;

    &.apteka {
        background: $backgroundImage4;
        background-size: cover;
    }

    ;

    &.smile {
        background: $backgroundImage5;
        background-size: cover;
    }

    ;

    &.registratura {
        background: $backgroundImage6;
        background-size: cover;
    }

    ;

    &.talon {
        background: $backgroundImage7;
        background-size: cover;
    }
    &.receipt {
        background: $backgroundImage8;
        background-size: cover;
    }

    ;
}
.customModal {
    background: #b2dbbf;
    max-width: 500px;
    width: 100vh;
  }

.centered-content {
    text-align: center;
}

.content {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diseases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.diseases button {
    width: calc(25% - 10px);
    margin-bottom: 10px;
}

.adminButtonContainer {
    position: absolute;
    bottom: 82%;
    left: 78%;
}

.adminInfo {
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 10px;
}

.modal_button {
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #333333;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}