


  
  .postsSection {

  }
  
  .popularSection {
width: 100%;
  }
  
  .popularTitle {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #000;

  }
  
  .noPosts {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 5rem 0;
  }
  